#puzz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#puzz div#top {
    height: 96px;
    background-color: #ffeedd;
    margin: 0 0 40px 0;
    padding: 16px;
}

#puzz div#identify {
    float: right;
}

#puzz div#chat p {
    font-size: 16px;
    margin: 4px 0 0 0;
}


#puzz div#entry {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    min-height: 90px;
}

#puzz input#text {
    font-size: 144%;
    width: 600px;
}

#puzz button#hatsubmit {
    margin-left: 8px;
    padding: 0 8px;
    font-size: 144%;
}

#puzz img#preload {
    display: none;
}
