#puzz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#puzz div#top {
    height: 96px;
    background-color: #ffeedd;
    margin: 0 0 40px 0;
    padding: 16px;
}

#puzz div#identify {
    float: right;
}

#puzz div#chat p {
    font-size: 16px;
    margin: 4px 0 0 0;
}


#puzz div#entry {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    min-height: 90px;
}

#puzz input#text {
    font-size: 144%;
    width: 600px;
}

#puzz button#hatsubmit {
    margin-left: 8px;
    padding: 0 8px;
    font-size: 144%;
}

#puzz img#preload {
    display: none;
}

#puzz .chunk {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 100%;
    font-weight: 700;
    color: white;
    padding: 1px 6px;
    margin: 0px 1px;
}

#puzz .mine { background-color: green; }
#puzz .notmine { background-color: grey; }

#puzz #bank.drag-in { background-color: yellow; }
#puzz .drag-in { background-color: yellow; }

#puzz #venn {
    width: 1000px;
    height: 840px;
    position: relative;
    background-color: #ffffee;
}
#puzz .target {
    position: absolute;
    border: 1px solid grey;
    width: 160px;   /* 240 30 */
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#puzz #t0 { left: 420px; top: 600px; }
#puzz #t1 { left: 260px; top: 380px; }
#puzz #t2 { left: 180px; top: 170px; }
#puzz #t3 { left: 420px; top: 130px; }
#puzz #t4 { left: 660px; top: 170px; }
#puzz #t5 { left: 580px; top: 380px; }


#puzz #t6e { left: 435px; top: 300px;
             width: 130px;
             height: 30px;
             text-align: center; }
#puzz #t6a {
    left: 435px; top: 300px;
    width: 130px;
    height: 30px;
    color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: 144%;
    border: none;
}

#puzz #words {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: 40px;
    left: 0px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

#puzz #bank {
    width: 1000px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

#puzz #bank .chunk { margin: 0px 2px; }

#puzz #clueanswer {
    text-align: center;
    font-weight: bold;
    font-size: 144%;
    padding: 16px;
}
